<div class="reg2_page" *ngIf="!loading">
<ng-template #templateSuccess>
  <div class="modal-header">
    <div class="modal-icon rounded-circle">
      <i class="fa-4x fas fa-tasks"></i>
      </div>
    <h4 class="modal-title" [translate]="'Modals.successTitle'"></h4>
  </div>
  <div class="modal-body" [translate]="'Modals.successBody'"></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" 
      [translate]="'Modals.ok'" (click)="closeModal()"></button>
  </div>
</ng-template>

<ng-template #templateFail>
  <div class="modal-header">
    <div class="modal-icon rounded-circle">
        <i class="fa-4x fas fa-exclamation-triangle"></i>
    </div>
    <h4 class="modal-title" [translate]="'Modals.problem'"></h4>
  </div>
  <div class="modal-body">
    <div>
      <div class="failedLessons-container">
        <div class="failedLessons-container_item" *ngFor="let failedCourse of failedCourses">
          <div class="failedLessons-container_item_title">{{failedCourse.name}}</div>
          <!-- <div class="failedLessons-container_item_description">{{failedCourse.validationResult.message}}</div> -->
          <div class="failedLessons-container_item_description" [translate]="'Checkout.ErrorDefault'"></div>        
        </div>
      </div>
    </div>  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [translate]="'Modals.back'" (click)="backToEdit()" 
      [routerLink]="['../overview']"></button>
    <button type="button" class="btn btn-cancel" [translate]="'Modals.close'" (click)="closeModal()"></button>
  </div>
</ng-template>

  <div class="reg2__top">
    <div class="flex-grow-1">
      <div class="reg2__title-container">
        <!-- TITLE-CONTAINER -->
        <div style="font-size: 31px;" [translate]="'Registrations.RegistrationCourses'"></div>
        <div class="reg2__title-container__buttons">
          <!-- COMMENT: The button with three dots(It means more choices) will be hidden for now -->
          <!-- <div class="reg2__ellipsis-container">
            <i class="fas fa-ellipsis-v"></i>     
          </div> -->
        </div>
      </div><!-- END OF TITLE-CONTAINER -->
      <div style="margin-bottom:20px;font-size:17px;" *ngIf="openRegistrationPeriod" 
        [translate]="'CourseRegistration.RegistrationOpenDates'" [translateParams]="{start: start, end: end}"></div>
      <div class="reg2__success reg2__details" 
        [ngClass]="{'reg2__edited': registrationEdited, 'reg2__success': !registrationEdited}"
        [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.headerText'"></div>
      <div class="reg2__details">
        <span [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.headerExtraText'"></span>
        <span class="reg2__bold" [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.headerExtraTextBold'"></span>
      </div>
      <!-- INFO CONTAINER -->
      <div class="reg2__info-container--horizontal d-lg-none d-sm-flex">
        <div class="reg2__info-container__main-card--horizontal">
          <div class="reg2__info-container_details1" [translate]="'Registrations.StatementOfRegistration'"></div>
          <div class="reg2__info-container_details2--horizontal">
            <div [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.windowStatus'"></div>
            <div class="reg2__success" [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.windowExtraStatus'"></div>
          </div>
          <div class="reg2__info-container_buttons">
            <button class="reg2__button-primary btn reg2__success-button mt-15 mr-10" type="button" [translate]="'RegistrationsButtons.Submit'"
            (click)="registerSelected()"></button>
            <button class="reg2__button-primary btn reg2__btn--gray mt-15 mr-10" type="button"  [translate]="'RegistrationsButtons.Edit'"
            (click)="enableEdit()" [routerLink]="['../overview']"></button>
          </div>
        </div>
      </div>
    </div>
    <!--END OF FLEX GROW-1 (left part of reg2-page) -->

    
    <div class="reg2__buttons-container d-none d-lg-flex">
        <button class="reg2__button-primary btn d-none d-lg-flex reg2__btn--gray mr-10" type="button" disabled>
            <span [translate]="'RegistrationsButtons.Print'" ></span>
        <!-- <span class="arrow-down"></span> -->
        </button>
      <button class="reg2__button-primary btn d-none d-lg-flex reg2__btn--gray mr-10" type="button" [translate]="'RegistrationsButtons.Edit'"
        (click)="enableEdit()" [routerLink]="['../overview']">

      </button>

    </div>
  </div>



  <div class="display-flex">
    <!-- atomic css -->
    <div class="lessons-container">
      <!-- <h3 class="registrations_courses_title mt-20">1ο Εξάμηνο</h3>     -->
      <!-- TODO: Adding for example "1o Semester" -->
      <!--the class mt-20 is part of atomic css -->



      <ul class="list-group">
        <li class="list-group-item lesson_info-categories">
          <div class="display-flex">
            <div class='list-group-item_lg_column' [translate]="'Registrations.Course'"></div>
            <div class='list-group-item_md_column d-none d-sm-block' [translate]="'Registrations.Code'"></div>
            <div class='list-group-item_lg_column d-none d-sm-block' style='flex-shrink:1;flex-grow:4;flex-basis:130px;' [translate]="'Registrations.Specialty'"></div>
            <div class='list-group-item_sm_column d-none d-sm-block' [translate]="'Registrations.Type'">Υ</div>
            <div class='list-group-item_sm_column d-none d-lg-block' [translate]="'Registrations.CP'">7</div>
            <div class='list-group-item_sm_column d-none d-lg-block' [translate]="'Registrations.ECTS'">6</div>
          </div>
        </li>
      </ul>
      <!-- END OF CARD INFO -->

      <ul class="list-group" *ngFor="let course of coursesToRegister">
        <li class="list-group-item">
          <div class="display-flex">
            <div class='list-group-item_lg_column'>{{course?.name}}</div>
            <div class='list-group-item_md_column d-none d-sm-block'>{{course?.displayCode}}</div>
            <div class='list-group-item_lg_column d-none d-sm-block'>{{course?.specialty?.name}}</div>
            <div class='list-group-item_sm_column d-none d-sm-block'>{{course?.courseType?.abbreviation}}</div>
            <div class='list-group-item_sm_column d-none d-lg-block'>{{course?.units}}</div>
            <div class='list-group-item_sm_column d-none d-lg-block'>{{course?.ects}}</div>
          </div>
        </li>
      </ul>

      <!--Show this when registration is empty-->
      <div class="display-flex" *ngIf="isEmptyRegistration">
        <div class="col-12 text-center">
          <h2 class="mt-2 empty_reg" [translate]="'Checkout.EmptyRegistration'"></h2>
        </div>
      </div>

    </div>


    <!--RIGHT INFO-CONTAINER -->
    <div class="reg2__info-container d-none d-lg-flex">
      <div class="reg2__info-container__main-card">
        <div class="reg2__info-container__main-card_img">
          <i class="far fa-edit fa-4x"></i>
        </div>
        <div class="reg2__info-container_details1" [translate]="'Registrations.StatementOfRegistration'"></div>
        <div class="reg2__info-container_details2">
          <div [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.windowStatus'"></div>
          <div class="reg2__success" [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.windowExtraStatus'"></div>
          <button class="reg2__button-primary btn reg2__success-button mt-15" style="margin-right:auto;margin-left: auto;" type="button" [translate]="'RegistrationsButtons.Submit'"
          *ngIf="registrationEdited" (click)="registerSelected()"></button>
        </div>
        <hr style="width:100%;">
        <div class="reg2__counting-box">
          <div class="reg2__counting-box_left-side">
            <ul>
              <li [translate]="'Registrations.ChoosenLessons'"></li>
              <li [translate]="'Registrations.TotalCp'"></li>
              <li [translate]="'Registrations.TotalEcts'"></li>
            </ul>

          </div>
          <div class="reg2__counting-box_right-side">
            <ul>
              <li>{{this.coursesToRegister?.length}}</li>
              <li>{{this.totalUnits}}</li>
              <li>{{this.totalEcts}}</li>
            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
