<div *ngIf="message">
  <h2 class="py-4">{{ "SemesterRegistration.title" | translate }}</h2>
  <app-msgbox [icon]="message.icon | translate"
              [message]="message.message | translate: params"
              [extraMessage]="message.extraMessage | translate: params"
              [actionButton]="message.actionButton | translate: params"
              [actionText]="message.actionText | translate"
              [disableBut]="disableBut"
              (action)="open()">
  </app-msgbox>
</div>
