<div class="row">
    <div class="col-lg-9">
        <div class="py-4">
            <h2 class="d-inline" [translate]="'Grades.AllGrades'"></h2>
            <div class="dropdown">
                <button class="btn btn-outline-secondary btn-lg rounded text-secondary" disabled
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span [translate]="'Grades.Print'"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <div class="grade_navbar d-none d-sm-block">
            <form class="form-inline p-3 col">
                <div class="form-group col-5">
                    <label class="pr-2" for="searchText" [translate]="'Grades.OrderBy'"></label>
                    <select class="form-control" (change)="onChangeGroup($event.target.value)">
                        <option [value]="group.attribute" *ngFor="let group of configuration.groups"
                                [translate]="group.title"></option>
                    </select>
                </div>
                <div class="form-group col-7">
                    <label class="pr-2" for="searchText" [translate]="'Grades.Filter'"></label>
                    <input spellcheck="false" type="text" id="searchText" (keydown)="onSearchKeyDown($event)"
                           name="searchText" class="form-control col text-left" placeholder="{{ 'Grades.SearchPlaceholder' | translate }}" >
                </div>
            </form>
        </div>
        <div *ngIf="groups">
            <div class="table-body" *ngFor="let group of groups">
                <div class="container1" *ngIf="group.grades && group.grades.length">
                    <span>{{group[selectedGroup.attribute]?.name}}</span>
                    <div class="s--list-group-header row">
                        <div class="col-lg-2 d-none d-lg-block" [translate]="'Grades.CourseName'"></div>
                        <div class="col d-none d-sm-block" [translate]="'Grades.Code'"></div>
                        <div class="col-2 d-none d-sm-block" [translate]="'Grades.Teacher'"></div>
                        <div class="col d-none d-sm-block" [translate]="'Grades.ExamPeriod'"></div>
                        <div class="col d-none d-sm-block" [translate]="'Grades.Type'"></div>
                        <div class="col d-none d-sm-block" [translate]="'CP'"></div>
                        <div class="col d-none d-sm-block" [translate]="">ECTS</div>
                        <div class="col d-none d-sm-block" [translate]="'Grades.Coefficient'"></div>
                        <div class="col d-none d-sm-block text-right" [translate]="'Grades.Grade'"></div>
                        <div class="col-auto"></div>
                    </div>
                    <div class="s--list-group">
                        <div class="s--list-group-item row" *ngFor="let grade of group.grades">
                            <div class="col-lg-2">{{grade.course.name}}</div>
                            <div class="col d-none d-sm-block">{{grade.course.displayCode}}</div>
                            <div class="col-2 d-none d-sm-block">
                                <ng-container *ngIf="grade.gradeExam">
                                    <ng-container *ngIf="grade.gradeExam.instructors">
                                        <ng-container *ngFor="let examInstructor of grade.gradeExam.instructors;let i = index;">
                                            <span>{{examInstructor.instructor.familyName}} {{examInstructor.instructor.givenName}} </span>
                                            <span *ngIf="i<grade.gradeExam.instructors.length-1">,&nbsp;</span><br>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <div class="col d-none d-sm-block">{{grade.gradePeriodDescription}}</div>
                            <div class="col d-none d-sm-block">{{grade.courseType.abbreviation}}</div>
                            <div class="col d-none d-sm-block">{{grade.units}}</div>
                            <div class="col d-none d-sm-block">{{grade.ects}}</div>
                            <div class="col d-none d-sm-block">{{grade.coefficient}}</div>
                            <div class="col" [ngClass]="(grade.isPassed)?'passed-grade':'failed-grade'">
                                {{grade.formattedGrade}}
                            </div>
                            <div class="s--list-group-item__dots"></div>
                        </div>
                    </div>
                    <div class="footer-text">
                        <span [translate]="'Grades.TotalCourses'"></span> : {{group.grades && group.grades.length || 0}}<br>
                        <span [translate]="'Grades.GradeAverage'"></span> : {{ group.average }}<br>
                        <span [translate]="'Grades.TotalEcts'"></span> : {{ group.grades | pluck : 'ects' | sum }}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3">
        <div class="d-none d-lg-block">
            <app-grades-statbox
                    title="{{ 'Grades.Stats' | translate }}"
                    statsPeriod="{{ 'Grades.Total' | translate }}"
                    [registeredCourses]="registeredCourses"
                    [passedCourses]="passedCourses"
                    [failedCourses]="failedCourses"
                    [passedGradeAverage]="passedGradeAverage"></app-grades-statbox>
        </div>
    </div>
</div>
