<script src="../requests-new/requests-new.component.ts"></script>
<div class="title"><span [translate]="'Requests.RequestsListTitle'"></span>
  <button type="button" class="btn btn-success btn-requests" style="min-width: 145px;" data-toggle="modal"  (click)=largeModal.show()>
    <span [translate]="'Requests.NewRequest'"></span>
  </button>
</div>
<div bsModal #largeModal="bs-modal" class="modal fade pt-5 pl-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="ml-4 mr-4">
        <div class="modal-header">
          <h4 class="title"><span [translate]="'Requests.ModalTitleRequests'"></span></h4>
          <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>


        <div class="modal-body">
          <div *ngFor="let doctype of doctype">
          <div class="requests_new-card">
            <div class="col-12">
              <div class="row">
                <div class="col-12 title">
                  <h3>{{doctype.name}}</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7 col-12 text-justify">
                  <h5><span [translate]="'Requests.DescriptionNewRequest'"></span></h5>
                </div>


                <div class="col-lg-4 col-12 ml-auto text-center">
                  <span class="float-lg-right">
                  <a class="btn btn-secondary  btn-requests btn-requests-grey "  (click)="checkActiveRequests(doctype.alternateName);largeModal.hide()" [translate]="'Requests.Request'" data-dismiss="close"></a>
                  </span>
                </div>

                <!--
                <div class="col-lg-4 col-12 ml-auto text-center">
                  <span class="float-lg-right">
                  <a class="btn btn-secondary  btn-requests btn-requests-grey "  (click)="sendRequest(doctype.alternateName);largeModal.hide()" [translate]="'Requests.Request'" data-dismiss="close"></a>
                  </span>
                </div>
                -->


              </div>
            </div>
          </div>
          </div>
          <div class="requests_new-card">
            <div class="col-12">
              <div class="row">
                <div class="col-12 title">
                  <h3><span [translate]="'Requests.OtherRequests'"></span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7 col-12 text-justify">
                  <h5><span [translate]="'Requests.DescriptionNewRequest'"></span>.</h5>
                </div>
                <div class="col-lg-4 col-12 ml-auto text-center">
                  <span class="float-lg-right">
                  <a class="btn btn-secondary  btn-requests btn-requests-grey" href="/#/requests/new">{{'Requests.Request' | translate}}</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="requests_navbar d-none d-sm-block">
  <form class="form-inline p-3 col">
    <div class="form-group col-4">
      <label class="pr-2" for="searchText" [translate]="'Requests.ShowOnly'"></label>
      <select class="form-control">
        <option value="value1" [translate]="'Requests.AllRequests'"></option>
        <option value="value2" [translate]="'Requests.CompletedRequests'"></option>
        <option value="value3" [translate]="'Requests.PendingRequests'"></option>
      </select>
    </div>
    <div class="form-group col-4">
      <label class="pr-2" for="searchText" [translate]="'Requests.OrderBy'"></label>
      <select class="form-control">
        <option value="value1" [translate]="'Requests.RequestDate'"></option>
        <option value="value2" [translate]="'Requests.CompletedRequests'"></option>
        <option value="value3" [translate]="'Requests.PendingRequests'"></option>
      </select>
    </div>
    <div class="form-group col-4">
      <label class="pr-2" for="searchText" [translate]="'Requests.Filter'"></label>
      <input type="text" id="searchText" name="searchText" class="form-control col text-left" placeholder="{{'Requests.PlaceHolderRequests' | translate}}">
    </div>
  </form>
</div>

<div *ngIf= "allrequests.length != 0; else Empty ">
<div *ngFor="let request of allrequests">
  <div class="rectangle-3">
    <div class="card-body">
      <h4>{{request.name}}</h4>
      <div class="row m-auto">
        {{request.dateCreated | date: 'dd/MM/yyyy'}}
        <div class="status_text ml-auto">{{'Requests.ActionStatusTypes.' + request.status | translate}}</div>

      </div>
      <!--      <div class="text-muted d-none d-sm-block"> Απάντηση από τη γραμματεία (9/10/2020): </div> -->
      <div class="d-none d-sm-block">
        <div class="callout">
          <h5 class="text-muted">{{request.description}} </h5>
          <!--  <button type="button" class="btn btn-secondary btn-requests btn-requests-grey" [translate]="'Requests.Download'"></button> -->
        </div>
        <br>
        <div [translate]="'Requests.MoreInfo'">""<i class="fa fa-chevron-down"></i></div>
      </div>
    </div>
  </div>
</div>
</div>
<ng-template #Empty>
  <span [translate]= "'Requests.NoRequests'"></span>
</ng-template>

