.requests_new-card {
  border: 1px solid #C2CFD6;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}

.modal-header {
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  .close {
    margin: 0;
    position: absolute;
    top: -50px;
    right: 0px;
    width: 23px;
    height: 23px;
    border-radius: 23px;
    background-color: transparent;
    color: #ffffff;
    font-size: 30px;
    opacity: 1;
    z-index: 10;
  }
}

.modal-lg {
  max-width: 80% !important;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.requests_navbar {
  display: flex;
  flex-wrap: wrap;
  padding-top: auto;
  margin-bottom: 3%;
  border: 1px solid #C2CFD6;
  border-radius: 6px;
  background-color: #F0F3F5;
  place-content: center;
}
.rectangle-3 {
  margin-top: 15px;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
}
.btn-success {
  border-radius: 3px;
  margin-left: 5%;
}
.callout {
  color: #29363D;
  font-size: 17px;
  letter-spacing: -0.4px;
}
.status_text {
  font-size: 17px;
  letter-spacing: -0.04px;
  text-align: right;
  color: #4DBD74;
}
.btn-secondary {
 // position: absolute;
  right: 10px;
  color: #29363D;
  font-size: 14px;
  letter-spacing: -0.33px;
  line-height: 19px;
  text-align: center;
}


