.btn.s--btn {
  box-sizing: border-box;
  padding-left: 4.2em;
  padding-right: 4.2em;
  border-radius: 3px;
}

.btn-secondary.s--btn-secondary {
  border: 1px solid #F0F3F5;
  background-color: #F0F3F5;
}
