
.s--list-group {
  border: 1px solid #C2CFD6;
  border-radius: 6px 6px;

  .s--list-group-item {
    height: 5%;
    font-size: 14px;
    border-bottom: 1px solid #C2CFD6;
    margin-left: 0;
    margin-right: 0;

    div {
      padding-top: 16px;
      padding-bottom: 8px;
    }
    .s--list-group-item__dots {
      margin-top: -12px;
      &:after {
        content: '\2807';
        font-size: 36px;
        font-weight: 700;
        color: #869FAC;
      }
    }

  }
  .s--list-group-item:last-child {
    border-bottom: 0;
  }

}

.s--list-group-header {
  border: 0;
  color: #869FAC;
  margin-left: 0;
  margin-right: 0;
  padding-top: 12px;
  div {
    padding-bottom: 1px;
    font-size: 12px !important;
    font-weight: 600;
    letter-spacing: -0.29px;
    line-height: 16px;
  }
}

.s-list-footer {
    color: #869FAC;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.33px;
    line-height: 19px;
    margin-top: 1%;
}



