/**
 * placeholder-loading v0.1.5
 * Author: Zalog (http://www.zalog.ro/)
 * License: MIT
 **/

// loader default color
$loader-color: #f0f3f5;


.ph-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px 15px 20px 15px;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #fff }
.ph-item, .ph-item *,
.ph-item ::after, .ph-item ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.ph-item::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 500%;
  margin-left: -250%;
  background: rgba(255, 255, 255, 0); }
.ph-item > * {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  padding-right: 15px;
  padding-left: 15px; }

.ph-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 5px; }
.ph-row div {
  height: 10px;
  margin-bottom: 5px;
  background-color: $loader-color; }
.ph-row .big,
.ph-row.big div {
  height: 20px;
  margin-bottom: 10px; }
.ph-row .empty {
  background-color: rgba(255, 255, 255, 0); }


.ph-col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  border-radius: 10px; }

.ph-col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  border-radius: 10px; }

.ph-col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  border-radius: 10px; }

.ph-col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  border-radius: 10px; }

.ph-col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  border-radius: 10px; }

.ph-col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  border-radius: 10px; }

.ph-avatar {
  position: relative;
  width: 100%;
  min-width: 60px;
  background-color: $loader-color;
  margin-bottom: 10px;
  border-radius: 50%;
  overflow: hidden; }
.ph-avatar::before {
  content: " ";
  display: block;
  padding-top: 100%; }

.ph-picture {
  width: 100%;
  height: 120px;
  background-color: $loader-color;
  margin-bottom: 10px; }
