// Here you can add other styles
.table {
  thead {
    th {
      border-bottom:  1px;
    }
  }
  th {
    border-top:  0px;
  }
}

.title {
  color: theme-color('dark');
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: $title-font-size;
  font-weight: 600;
  letter-spacing: -0.02px;
  line-height: $title-line-height;
}

.btn-requests {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 180px;
  border-radius: 0.3em 0.3em 0.3em 0.3em !important;
}

.btn-requests-grey {
  border-color:  #F0F3F5;
  background-color: #F0F3F5;
}

.fa-chevron-down {
  color : #869FAC;
}

.fa-chevron-up {
  color : #869FAC;
}

.fa-flag-checkered {
  color : #C2CFD6;
}

.fa-user-secret {
  color : #C2CFD6;
}



@include media-breakpoint-only(xs) {
  .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
}
@include media-breakpoint-only(sm) {
  .col-sm-auto {
    flex: 0 0 auto !important;
    width: auto !important;
    max-width: none;
  }
}
@include media-breakpoint-only(md) {
  .col-md-auto {
    flex: 0 0 auto !important;
    width: auto !important;
    max-width: none;
  }
}
@include media-breakpoint-only(lg) {
  .col-lg-auto {
    flex: 0 0 auto !important;
    width: auto !important;
    max-width: none;
  }
}
@include media-breakpoint-only(xl) {
  .col-xl-auto {
    flex: 0 0 auto !important;
    width: auto !important;
    max-width: none;
  }
}

// Modal CSS
.s--modal-content {
  .modal-backdrop {
    background-color: #678898;
    .show {
      opacity: 0.4;
    }
  }
}

.modal-content-base {
  .modal-content {
    border-radius: 6px;
  }
  .modal-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 0px;
  }

  .modal-icon {
    border: 3px solid #678898;
    padding: 3%;
    margin: 1rem;
  }

  .modal-body {
    text-align: center;
  }

  .modal-footer {
    border-top: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .btn {
    background-color: white;
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: -0.33px;
  }

  .btn-primary {
    border-color: #29363D;
    color: #29363D;
  }

  .btn-cancel {
    border-color: #F86C6B;
    color: #F86C6B;
  }
}